<include file="./Blog/Public/html/header.html" />
<div class="container">
	<include file="./Blog/Public/html/navbar.html" />
	<div class="col-md-9 col-sm-9">
		<if condition="! empty($article)" >
		<foreach name="article" item="data">
		<div class="panel panel-default back block">
			<div class="panel-body">
			<h2><a href="user.php/index/details/visit/{$data.auther}/id/{$data.id}">{$data.title}</a></h2>
			<h5><small>发表于：{$data.timeline|date="Y-m-d H:i",###}，作者{$data.auther},出自{$data.from}</small></h5>
				<p>{$data.content}</p>
			</div>
		</div>
		</foreach>
		<else />
		<div class="panel panel-default back block">
			<h1>没有文章</h1>
		</div>
		</if>
	</div>
	<div class="col-md-3 col-sm-3">
	<include file="./Blog/Public/html/userList.html" />
	<include file="./Blog/Public/html/about.html" />
	</div>
</div>
<include file="./Blog/Public/html/footer.html" />